/* Внешняя таблица стилей (общие стили сайта) */

/* Сброс стандартных отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #e6f5e6;
    font-size: 14px;
    line-height: 1.5;
}

.main-container {
  position: relative;
  min-height: 100vh;
}

.background-image {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image:url('https://img.goodfon.ru/wallpaper/nbig/0/4f/shrek-shrek-shrek-1.webp') ;
    background-size: cover;
    background-position: center;
    filter: brightness(0.7); /* Затемнение фона */
}
.background-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0,0,0,0.3), rgba(0,0,0,0.1));
}

.resizable-container {
  max-width: 950px;
  background-color: rgb(255, 255,255, 0);
  height: 100%;
  margin: 0 auto;
  position: relative;
}
/* СТили Заголовков Страницы */
.header-wrapper {
  display: flex;
  flex-direction: column;
  height: 148px;
  justify-content: flex-end;
  
}
.logo-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0);
}
.name-header {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0px 148px 0px  0px ;

}
.name-header:hover {
  text-decoration: underline;
}


/* Стили Всплывающего Меню */
.menu {
  padding: 0px 25px 0px  0px;
  position: relative;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.menu-item {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  transition: 0.3s;
  z-index: 2;
}


.trigger {
  font-weight: bold;
}

.trigger:hover {
  text-decoration: underline;
}

.trigger::after {
  content: '▼';
  position: absolute;
  right: 0;
  transition: all 0.3s ease;
}

.menu-item:hover .trigger::after {
  content: '▲';
  transform: translateY(-2px);
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(240, 229, 229);
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
}
.menu-list {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.item-list a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.item-list a:hover {
  color: #4B7F52;
}

.submenu.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.submenu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.submenu a:hover {
  background: #f0f0f0;
}

.menu-item:hover .submenu {
  display: block;
}

/* СТили БЛока с Контентом */
.page {
  z-index: 1; /* Поверх фона */
  background-color: rgb(255, 255, 255);
  max-width: 100%;
  padding: 30px;
  color: var(--theme-page-text-color);

  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.page-header-title {
  color: #000000;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
}

dd {
  align-items: flex-start;
  flex: 1;
  
}

dd > p {
  font-size: inherit;
  margin: 0 0 24px ;
  text-align: justify;
  font-weight: 400;
  text-indent: 1.47cm;
}
dt {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  line-height: 1.25;
  margin: 18px 0 9px;
  padding: 6px 0;
  border-bottom: 1px solid #6b6969a2;
  padding-bottom: 5px;
  overflow-wrap: break-word;
}
section > p {
  font-size: inherit;
  margin: 0 0 24px ;
  text-align: justify;
  font-weight: 400;
  text-indent: 1.47cm;;
}

.subheader {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  line-height: 1.25;
  margin: 18px 0 9px;
  padding: 6px 0;
  border-bottom: 1px solid #6b6969a2;
  padding-bottom: 5px;
  overflow-wrap: break-word;
}

.inline-image-right {
  float: right;
  width: 180px;
  height: auto;
  margin: 0 0 15px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


/* Стили раздела Викторин */
.quiz-container {
  background: #ffffff;
  max-width: 800px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.26);
  position: relative;
  color: #333;
}
.quiz-container h1 {
  font-size: 32px;
  font-size: 32px;
  color: #333; /* Зелёный цвет из вселенной Шрека */
  text-align: center;
  margin: 0 0 30px;
  padding-bottom: 15px;
  border-bottom: 3px solid #000000a2;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.question {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0;
  line-height: 1.5;
  color: #333;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 5px;
}

.options {
  display: grid;
  gap: 12px;
  margin: 25px 0;
}

.options button {
  padding: 15px 20px;
  font-size: 18px;
  background: #f8f8f8;
  border: 2px solid #6b8a2e;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  color: #2d6421;
}

.options button:hover {
  background: #6b8a2e;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.score {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 25px 0;
  padding: 12px;
  background: #e8f5e998;
  border-radius: 5px;
  color: ##6b8a2e;
}

.restart {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto 0;
  padding: 12px 25px;
  font-size: 18px;
  background: #6b8a2e;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.restart:hover {
  background: #6b8a2e;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


/* Стили Блока "Содеражания Страницы" */
.toc {
  background: rgb(255, 255, 255);
  margin: 24px auto 24px 0;
  width: fit-content;
}

.toc-header {
  border: 1px solid #dbd7d7;
  border-radius: 3px;
  line-height: 1;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toc-header button {
  font-size: 100%;
  color: var(--theme-page-text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toc-header button:hover {
  color: #6b8a2e;
  text-decoration: underline;
}

.toc-content {
  overflow: hidden;
  padding-left: 30px;
  border: 1px solid #dbd7d7;
  border-radius: 3px;
}


#toc-list {
  padding: 9px 12px 9px 0;
  display: none;
}


#toc-list li a {
    color: var(--theme-page-text-color);
    display: block;
    line-height: 1.75;
    padding: 2px 6px;
    text-decoration: none; 
}
#toc-list li:hover  {
  color: #6b8a2e;
  border-radius: 3px;
  background-color: #44802c52;
  transition-duration: .3s;
  transition-property: background-color, color;
  
}


#toc-list a:hover {
  color: #64802c;
}
#toc-list li::marker {
  background-color:#64802c ;
}

/* Стили Подвала страницы */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;    
  padding: 42px 18px 36px;
  background-color: #450364;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
}